@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purplish-blue: #6940F2;
  --midnight-monarch: #1A1436;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purplish-blue: var(--purplish-blue);
  --color-midnight-monarch: var(--midnight-monarch);
  --font-sans: var(--font-archivo);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo), sans-serif;
}

/* Blog page loader */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    loader-l20-1 0.8s infinite linear alternate,
    loader-l20-2 1.6s infinite linear;
}
@keyframes loader-l20-1 {
  0%    { clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%); }
  12.5% { clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%); }
  25%   { clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%); }
  50%   { clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%); }
  62.5% { clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%); }
  75%   { clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%); }
  100%  { clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%); }
}
@keyframes loader-l20-2 {
  0%    { transform: scaleY(1) rotate(0deg); }
  49.99% { transform: scaleY(1) rotate(135deg); }
  50%   { transform: scaleY(-1) rotate(0deg); }
  100%  { transform: scaleY(-1) rotate(-135deg); }
}
