@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purplish-blue: #6940F2;
  --midnight-monarch: #1A1436;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purplish-blue: var(--purplish-blue);
  --color-midnight-monarch: var(--midnight-monarch);
  --font-sans: var(--font-archivo);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo), sans-serif;
}
